/* ================= TELA DE LOGIN ================= */

/* Área que ocupa toda a tela e exibe a imagem de fundo */
.login{
    width:100%;
    height:100vh;

    /* Aplica um efeito escuro sobre a imagem de fundo */
    background-image:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("../imagens/capa-login.jpg");

    /* Ajusta a imagem para cobrir toda a tela */
    background-size:cover;
    background-position:center;

    /* Centraliza a caixa de login */
    display:flex;
    justify-content:center;
    align-items:center;
}


/* ================= CAIXA DE LOGIN ================= */

/* Container principal do formulário */
.login-box{

    width:400px;

    background:rgba(22, 59, 24, 0.95);

    padding:40px;

    border-radius:15px;

    box-shadow:0 15px 40px rgba(215, 210, 231, 0.35);
}


/* ================= TÍTULO ================= */

/* Título da tela de login */
.login-box h1{

    text-align:center;

    color:#ece6e6;

    font-size:38px;

    margin-bottom:10px;
}


/* ================= SUBTÍTULO ================= */

/* Texto abaixo do título */
.login-box p{

    text-align:center;

    color:#f8eded;

    margin-bottom:30px;
}


/* ================= CAMPOS DO FORMULÁRIO ================= */

/* Agrupa cada campo (label + input) */
.campo{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;
}


/* Texto que identifica cada campo */
.campo label{

    margin-bottom:8px;

    color:#e2e3f0;

    font-weight:bold;
}


/* Campos de entrada */
.campo input{

    padding:14px;

    border:1px solid #080303;

    border-radius:8px;

    outline:none;

    font-size:16px;

    transition:.3s;
}


/* Efeito quando o usuário clica no campo */
.campo input:focus{

    border-color:#070708;
}


/* ================= BOTÃO ================= */

/* Botão de entrar */
.login-box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#030305;

    color:rgb(238, 215, 215);

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}


/* Efeito ao passar o mouse sobre o botão */
.login-box button:hover{

    background:#f6f7fa;
}


/* ================= LINKS ================= */

/* Área dos links abaixo do botão */
.links-login{

    margin-top:25px;

    display:flex;

    flex-direction:column;

    text-align:center;

    gap:12px;
}


/* Estilo dos links */
.links-login a{

    text-decoration:none;

    color:#eaebf1;

    font-weight:bold;
}


/* Efeito ao passar o mouse nos links */
.links-login a:hover{

    text-decoration:underline;
}